<div id="centered-container" style="width: 100%; height: 100%;">
	<div>
		<ion-content>
			<div style="padding: 15px 35px;">
				<!--TODO: remake to div aligning for UHD+ -->
				<ion-grid>
					<ion-row>
						<ion-col>
							<img [src]="movie.poster_path" />
						</ion-col>
						<ion-col>
							<div>
								<h1>{{movie.title}}</h1>
								<h4>{{movie.original_title}}</h4>
								<ion-button color="dark" (click)="openVideos.emit()">Open videos</ion-button>
								<p *ngIf="movie.production_countries && movie.production_countries.length > 0">
									<span>Countries: </span>
									{{countries}}
								</p>
								<p><span>Genres:</span> {{genres}}</p>
								<p><span>Release date:</span> {{movie.release_date}}</p>
								<p><span>Runtime:</span> {{movie.runtime}}m</p>
								<p><span>Vote average:</span> {{movie.vote_average}}</p>
								<p><span>Status:</span> {{movie.status}}</p>

								<p *ngIf="movie.number_of_seasons">
									<span>Seasons: </span>
									{{movie.number_of_seasons}}
								</p>
								<p *ngIf="movie.number_of_episodes">
									<span>Episodes: </span>
									{{movie.number_of_episodes}}
								</p>
								<p>Description:</p>
								<p>{{movie.overview}}</p>

							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div style="width: 100%;" *ngIf="movie.recommendations">
					<p>Recommendations:</p>
					<div style="display: flex;flex-wrap: nowrap;overflow-x: scroll;">
						<ion-card style="flex-shrink: 0;width: 250px;" *ngFor="let recommendation of movie.recommendations.results" ><!--(click)="onCardClick(item)"-->
							<img [src]="recommendation.poster_path" />
							<ion-card-header>
								<ion-card-subtitle>{{recommendation.original_title}}</ion-card-subtitle>
								<ion-card-title>{{recommendation.title}}</ion-card-title>
							</ion-card-header>
						</ion-card>
					</div>
				</div>
			</div>
		</ion-content>
	</div>
</div>