<div id="centered-container">
	<div>
		<ion-content>
			<div class="inside-padding">
				<!--TODO: remake to div aligning for UHD+ -->
				<ion-grid>
					<ion-row>
						<ion-col size="12" size-md>
							<img [src]="movie.poster_path" />
						</ion-col>
						<ion-col size="12" size-md>
							<div>
								<h1>{{movie.title}}</h1>
								<h4>{{movie.original_title}}</h4>
								
								<ion-button color="dark" (click)="openVideos.emit()">
									Open videos
								</ion-button>
								
								<p *ngIf="movie.production_countries 
											&& movie.production_countries.length > 0">
									<span>Countries: </span>
									<span>{{countries}}</span>
								</p>
								<p>
									<span>Genres: </span>
									<span>{{genres}}</span>
								</p>
								<p>
									<span>Release date: </span>
									<span>{{movie.release_date}}</span>
								</p>
								<p>
									<span>Runtime: </span>
									<span>{{movie.runtime}}m</span>
								</p>
								<p>
									<span>Vote average: </span>
									<span>{{movie.vote_average}} ({{movie.vote_count}})</span>
								</p>
								<p>
									<span>Status: </span>
									<span>{{movie.status}}</span>
								</p>

								<p *ngIf="movie.number_of_seasons">
									<span>Seasons: </span>
									{{movie.number_of_seasons}}
								</p>
								<p *ngIf="movie.number_of_episodes">
									<span>Episodes: </span>
									{{movie.number_of_episodes}}
								</p>
								<div *ngIf="movie.overview">
									<p>Description:</p>
									<p>{{movie.overview}}</p>
								</div>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div *ngIf="movie.recommendations && movie.recommendations.results.length > 0">
					<p>Recommendations:</p>
					<div class="cards-row">
						<app-card *ngFor="let item of movie.recommendations.results"
							[movie]="item">
						</app-card>
					</div>
				</div>
			</div>
		</ion-content>
	</div>
</div>
