ion-content{
	--ion-background-color:rgba(0, 0, 0, 0.7);
	text-align: left;
}

#centered-container {
	text-align: center;
	width: 100%;
	height: 100%;

	& .inside-padding {
		padding: 15px 35px;
	}

	& > div {
		width: 60vw;
		height: 100%;
		display: inline-block;
	}
}

.cards-row {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	gap: 0 15px;

	& > * {
		flex-shrink: 0;
		width: 250px;
		height: 100%;
	}
}

@media only screen and (max-width: 1440px) {
	// TODO: add different paddings for different sizes
	#centered-container {
		& .inside-padding {
			padding: 15px 15px;
		}

		& > div {
			width: 100%;
		}
	}
}
