<ion-content>
	<ion-split-pane when="sm" contentId="main-content">
		<ion-menu contentId="main-content">
			<ion-header>
				<ion-toolbar color="dark">
					<ion-title>Menu</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-menu-toggle [autoHide]="false">
					<ion-item button routerLink="../search">
						<ion-icon slot="start" name="search"></ion-icon>
						<ion-label>
							Search
						</ion-label>
					</ion-item>
					<ion-item button (click)="openHistory()"
						[disabled]="currentFilter.id == 'history'">
						<ion-icon slot="start" name="file-tray"></ion-icon>
						<ion-label>
							History
						</ion-label>
					</ion-item>
					<ion-item *ngFor="let filter of filters" (click)="openTab(filter)"
						[disabled]="currentFilter.id == filter.id" button>
						<ion-icon slot="start" [name]="filter.icon"></ion-icon>
						<ion-label>
							{{filter.title}}
						</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-content>
			<ion-footer class="ion-no-border">
				<ion-item routerLink="../settings" button>
					<ion-icon slot="start" name="settings"></ion-icon>
					<ion-label>
						Settings
					</ion-label>
					<ion-note slot="end" color="danger">TBD</ion-note>
				</ion-item>
			</ion-footer>
		</ion-menu>
		<div class="ion-page" id="main-content">
			<ion-header>
				<ion-toolbar>
					<ion-buttons slot="start">
						<ion-menu-toggle>
							<ion-button>
								<ion-icon slot="icon-only" name="menu"></ion-icon>
							</ion-button>
						</ion-menu-toggle>
					</ion-buttons>
					<ion-title>{{this.currentFilter.title}}</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content class="ion-padding">
				<div *ngIf="!list" class="loading">
					<ion-item>
						<ion-spinner slot="start" name="crescent"></ion-spinner>
						<ion-label>Loading...</ion-label>
					</ion-item>
				</div>
				<div *ngIf="list && list.length <= 0" class="loading">
					<ion-item>
						<ion-label>Nothing is here</ion-label>
					</ion-item>
				</div>
				<div class="grid" *ngIf="list">
					<app-card *ngFor="let item of list" [movie]="item">
					</app-card>
				</div>
			</ion-content>
		</div>
	</ion-split-pane>
</ion-content>