<div id="movie-main" [ngStyle]="{ 'background-image': 'url('+movie.backdrop_path+')', 'background-size': 'cover' }">
	<div *ngIf="!movie">loading...</div>
	<div *ngIf="movie">
		<p>{{movie.id}}</p>
		<p>{{movie.imdb_id}}</p>
		<p>{{movie.title}}</p>
		<p>{{movie.original_title}}</p>
	</div>

	<div *ngIf="providers">
		<div *ngFor="let provider of providers">
			{{provider.title}}
			<div *ngFor="let video of provider.videos">
				<a [href]="video.url">q:{{video.quality}} t:{{video.voice_title}} s:{{video.season_id}} e:{{video.episode_id}}</a>
			</div>
		</div>
	</div>

	<movie-info></movie-info>
	<movie-videos></movie-videos>
</div>
